.header1{
    text-align: center;
    color: red;
}
.navbar{
    /*width: 1000px;*/
    height: 100px;
    
    
    border-bottom-color: red;

    border-color: red;

    background-color: aqua;
    color: red;
}