.main-body{
    width: 100%;
    background-color: white;
    flex-direction: column;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    min-width: 720px;
}

.top-bar{
    height: 80px;
    border-width: 0px;
    max-width: 1024px;
    width: 100%;
    margin: auto;
    top: 0;
    border-bottom-style: solid;
    border-bottom-color: silver;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    color: white;
    padding-bottom: 10px;
}

.top-bar-left{
    font-size: 40px;
    color: black;
    
    font-weight: 500;
    width: 100%;
    max-width: 400px;
    margin-left: 10px;
}
.top-bar-right{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    max-width: 200px;
    min-width: 150px;
    width: 200px;
    justify-content: space-between;
    color: darkgray;

    margin-top: 10px;
    margin-right: 10px;
    
}
.top-bar-link:link{
    color: #363433;
    text-decoration: none;
}
.top-bar-linl:visited{
    color: #363433;
    text-decoration: none;
}
.top-bar-link:hover{
    color: #363433;
    text-decoration: none;
}
.top-bar-link:active{
    color: darkgray;
    text-decoration: none;
}
.top-bar-link{
    color: #363433;
}

.main-container{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-flow: row;
    grid-auto-rows: 300px;
    grid-gap: 10px;
}
.main-container-item1{
    grid-column: auto;
    grid-row: auto;
}
.main-container-item2{
    grid-column: auto;
    grid-row: auto;
}
.main-container-item3{
    grid-column: auto;
    grid-row: auto;
}

.flag-pic{
    margin-top: 20px;
    margin:auto;
    max-width: 720px;
    width: auto;
}
#pic1{
    max-width: 100%;
    height: auto;
}

.sub-container{
    height: 100%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-flow: column;
}
#the-left-one{
    background-color: #f1c4cd;
}
#the-middle-one{
    background-color: #c6dfc8;
}

#the-right-one{
    background-color: #c3d7df;
}

.foot-bar{
    background-color: #363433;    
    margin: auto;
    margin-top: 20px;
    width:100%;
    height: 180px;
    display: flex;
}


.foot-note-middle{
    margin: auto;
    margin-top: 5px;
    color: azure;
    text-align: center;
    font-size: 15px;
}

.container-title{
    color: white;
    width: 300px;
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}
.container-footer{
    color: white;
    width: 300px;
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px; 
}
.container-link:link{
    color: white;
    text-decoration: none;
}
.container-link:visited{
    color: white;
    text-decoration: none;
}
.container-link:hover{
    color: white;
    text-decoration: none;
}
.container-link:active{
    color: #363433;
    text-decoration: none;
}

.container-content{
    width: 300px;
    height: 180px;
    color: #363433;
    font-size: 20px;
    margin: auto;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

.intro-layout{
    max-width: 1000px;
    width: 100%;
    height: 660px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    /* background-image: url("./src/absolution.jpg");
    background-size: cover;
    background-attachment: fixed; */
    overflow: hidden;
    
    
}

.intro-part1{
    position: relative;
    min-width: 225px;
    grid-column: 1;
    grid-row: 1/3;
    border-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: darkgray;
    z-index: 1;
    overflow: hidden;
    /* filter: blur(4px); */
}
.intro-part1::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-image: url("./src/absolution.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    z-index:-1;
    filter: blur(5px);
    margin: -5px;
    
}
.intro-part2{
    position: relative;
    min-width: 450px;
    grid-column: 2/5;
    grid-row: 1/3;
    border-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: darkgray;
    z-index: 1;
    overflow: hidden;
    /* filter: blur(4px);  */
}
.intro-part2::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-image: url("./src/absolution.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    z-index:-1;
    filter: blur(5px);
    margin: -5px;
    
}
.intro-part3{
    position: relative;
    min-width: 685px;
    grid-column: 1/5;
    grid-row: 3;
    border-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: darkgray;
    z-index: 1;
    overflow: hidden;
}
.intro-part3::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-image: url("./src/absolution.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index:-1;
    filter: blur(5px);
    margin: -5px;
}